langchain
langchain-openai
langchain-core
pydantic
python-dotenv

langchain-huggingface





langgraph-checkpoint-postgres 
psycopg_binary

psycopg

langchain-tavily
uvicorn
fastapi
uvicorn[standard]

# Core
fastapi
uvicorn[standard]
websockets

# LangChain
langchain
langchain-huggingface
langchain-core
langchain-tavily

# Database
psycopg2-binary
asyncpg

# Utils
python-dotenv
pydantic
httpx